body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
}

#navigation {
  min-height: 2em;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

#iframe {
  min-width: 50%;
  height: 100%;
  padding: 0;
  border: none;
  flex-grow: 1;
}

#text {
  float: left;
  width: 50%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: #282a36;
  color: white;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  flex-grow: 1;
  background-color: #ff79c6;
  color: inherit;
  font-size: inherit;
  border-right: 1px solid black;
}

button:last-child {
  border-right: none;
}

.CodeMirror {
  flex-grow: 1;
  border-bottom: 1px solid black !important;
}
